#layernamecont{
  display: none;
  @media (min-width: 768px) {
    display: inherit;
    z-index: -1;
    top: 0; left: 5px;
    font-family: "Playfair Display";
    font-size: 36.66em;
    position: absolute;
    #bknameul{
      display: none;
      list-style: inside square;
      li{
        padding: 0vw 0 0vh;
        letter-spacing: 0rem;
        color: rgb(243, 239, 239);
      }
      li:first-child{
        letter-spacing: 0.1rem;
      }
    }
  }
}