.bodywidthlimit{
  max-width: 100%;
  width: calc(100vw - ($introPicOuterPadding * 2));
  padding: 0 $introPicOuterPadding;
}
.headerstyle{
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.15rem;
  /**Turn into variable asap*/
  font-size: 1.75rem;
  // padding: 2px;*
  text-transform: lowercase;
}
.subheaderstyle::before{
  content:"|";
}
.titlecont{
  //position: sticky; top: -2px;
  padding:1em 0 1em 0;
  transition: 0.2s;
  background: rgba(255, 255, 255, 1);
}
.titlecont[stuck] {
  background: white;
}
#body{
  .parallaxSection{
    background-image: url("../../docs/assets/img/nysky.jpg");

    height: 35vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  max-width: 100%;width: 100%;
  #introcont{
    background-color: rgb(121, 92, 80);
    color: rgb(255, 255, 255);
    @media (min-width: 768px) {
      height: 100vh;
      background: none;
      color: black;

    }
    #mecont{
      display: flex;
      flex-flow: column;
      padding: 5vh 0 10vh 2.5vw;
      @media (min-width: 768px) {
        padding: $introPicMarginTop 0 0 0;
        flex-flow: row;
      }
      h3{
        flex: 1;
        font-size: 2.5em;
        @media (min-width: 768px) {
          font-size: 1.75rem;
        }
      }
      #mecontactcont{
        flex: 0.25;
        display: flex;
        justify-content: flex-end;
        @media (min-width: 768px) {
          padding-left:50%;
          justify-content: flex-start;
        
        }
        li{
          flex: 0.1;
          display: inline-flex;
          padding: 2px;
          font-size: 1.4rem;
          @media (min-width: 768px) {
            flex: 1;
            justify-content: flex-end;
            align-items: flex-end;
          }
          a{
            color: black;
            transition: 0.44s all;
            &:visited{
              color: black;
            }
            &:hover{
              color: rgb(77, 78, 83);
              font-size: 96%;
              transition: 0.1s all;
            }
          }
          
          i{
            cursor: pointer;
          }
        }
      }
    
    }  
    
    #rotimgdiv{
      display: none;
    }
    @media (min-width: 768px) {
      #rotimgdiv{
        display: inherit;
        background-color: red;
        max-width: 100vw;
        height: calc(100vh - 24vh);
        display: flex;
        justify-content: center;
        overflow: hidden;
        img{
          background: white;
          flex:1;
          align-self: center;
        }
      }
    }
  }

  #technicalcont{
    padding-top: 2.5vh;
    @media (min-width: 768px) {
      /*this is safe trust me maybe***/
      padding-top: 0vh;
    }
    #skillstopaythebillscont{
      width: 100%; 
      display: flex;
      flex-direction: column;
      padding-left: 0.33em; padding-top: $introPicMarginTop;
      p{
        padding-top: 0.15em !important;
      }
      @media (min-width: 768px) {
        flex-direction: row;
        height: 50vh;
      }

    }
    #picright{
      //background-image: url("../../docs/assets/img/nysky.jpg");
      background-image: url("https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nysky.jpg");
      flex: 1;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      max-height: 30%;
      width: 80%;
      align-self: center;
      padding: 3.5vh 1vw;
      margin: 5vh 0;
      @media (min-width: 768px) {
        align-self: stretch;
        flex: 2;
        max-height: 100%;
        width: 100%;
      }
    }
    #wordsleft{
      flex: 1;
      p{
        font-size: 1.2em;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
        &:nth-child(2n){
          color: rgb(102, 71, 14);
          padding: 0 0.05em;
        }
      }
    }
  }
  
  #showcasecont{
    @media (min-width: 768px) {
      margin-top: $introPicMarginTop;
    }
    #workcasecont{
      width:100%;
      display: flex;
      flex-flow: column;
      .workcase{
        margin: 0vh 0 15vh 0;
        max-width: 100%;
        display: flex;
        flex-flow: column;
        .wkHeaderCont{
          border-bottom: 2.5px solid rgba(209, 207, 207, 0.6);
          width: 100%;
          font-family: "Montserrat";
          flex: 0.45;
          display: inline;
          span{
            padding-left: 5px;
            height: 100%;
            display: inline-flex;
            flex-flow: column;
            justify-content: flex-end;
            h2{
              font-size: 2.55em;
            }
            h5{
              font-size: 1.45em;
              color: rgb(105, 87, 87);
            }
          }
        }
        .wkBodyCont{
          padding: 5vh 0;
          background-color: rgba(248, 246, 246, 0.655);
          //display: flex; flex-direction: column; justify-content: center;
          font-family: "Lato";
          flex: 1.5;
          font-size: 1.15em;
          padding-left: 2em; padding-top: 0.5em;
          ul{
            padding-left: 1em;
            list-style: inside;
          }
        }
      }
    }
  }
  #projectshowcasecont{
    .projectsCont{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-flow: wrap-reverse;
      .projectCont{
        flex:1 0 20%;
        margin-right: 2vh;
        margin-bottom: 2vh;
        height: 48.88vh;
        background: rgba(248, 246, 246, 0.655);
        display: flex;
        .projTitleCont{
          flex: 1;
          
        }
        .proPicCont{
          flex: 1;
          height: inherit;
          &:hover{
            transform: scale(1.01,1.01); 
          }
        }
        #DecryptToolParallax{
          background-image: url("../../docs/assets/img/elmfoodSite.png");
          background-position:top center;
          background-attachment: scroll;
          background-size: cover;
          background-repeat: no-repeat;
          height: 100%;

        }
        #ElmFoodParallax{
          background-image: url("../../docs/assets/img/elmfoodSite.png");
          background-position:top center;
          background-attachment: scroll;
          background-size: cover;
          background-repeat: no-repeat;
          height: 100%;
          
        }
        
        &:first-child{
          flex:1 0 40%;
        }
        &:last-child{
          .projTitleCont{
            flex: 0.5;
          }
        }
      }
      
    }
  }

  #foot{
    background-color: rgba(248, 246, 246, 0.655);
    border-top: 1px solid rgba(209, 207, 207, 0.745);
    font-family: "Montserrat";
    #bodyContactme{
      max-width: 100%;
      padding-bottom: 10vh;
      ul{
        max-width: 80%; 
        display: flex;
        margin-left: 10%;
        li{
          flex: 1 0 25%;
          text-align: center;
          list-style-type: none;

        }
      }
      #secondLvl li{
        
        &:first-child{
          text-align: right;
          padding-left: 10%;
        }
        text-align: left;
        padding-right: 10%;
      }
    }
  }
}
