@font-face{
  font-family: "Playfair Display";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format('truetype');
}
@font-face{
  font-family: "Montserrat";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face{
  font-family: "Lato";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/Lato-Regular.ttf") format('truetype');
}

$introPicOuterPadding: 5.2vw;
$introPicMarginTop: 4vh;
$pageColor: #fff;

