@font-face {
  font-family: "Playfair Display";
  src: url("../../docs/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat";
  src: url("../../docs/assets/fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Lato";
  src: url("../../docs/assets/fonts/Lato-Regular.ttf") format("truetype"); }
#layernamecont {
  display: none; }
  @media (min-width: 768px) {
    #layernamecont {
      display: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      font-family: "Playfair Display";
      font-size: 2em;
      position: absolute; }
      #layernamecont #bknameul li {
        text-transform: uppercase;
        padding: 1vw 0 37vh;
        letter-spacing: 0.12rem;
        color: #f3efef; }
      #layernamecont #bknameul li:first-child {
        letter-spacing: 0.2rem; } }

.bodywidthlimit {
  max-width: 100%;
  width: calc(100vw - ($introPicOuterPadding * 2));
  padding: 0 7vw; }

.headerstyle {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.15rem;
  /**Turn into variable asap*/
  font-size: 1.75rem;
  padding: 2px;
  text-transform: lowercase; }

.subheaderstyle::before {
  content: "|"; }

.titlecont {
  position: sticky;
  top: -2px;
  padding: 1em 0 1em 0;
  transition: 0.2s;
  background: white; }

.titlecont[stuck] {
  background: white; }

#body {
  max-width: 100%;
  width: 100%; }
  #body #introcont {
    background-color: #795c50;
    color: white; }
    @media (min-width: 768px) {
      #body #introcont {
        height: 100vh;
        background: none;
        color: black; } }
    #body #introcont #mecont {
      display: flex;
      flex-flow: column;
      padding: 5vh 0 10vh 2.5vw; }
      @media (min-width: 768px) {
        #body #introcont #mecont {
          padding: 8vh 0 0 0;
          flex-flow: row; } }
      #body #introcont #mecont h3 {
        flex: 1;
        font-size: 2.5em; }
        @media (min-width: 768px) {
          #body #introcont #mecont h3 {
            font-size: 1.75rem; } }
      #body #introcont #mecont #mecontactcont {
        flex: 0.25;
        display: flex;
        justify-content: flex-end; }
        @media (min-width: 768px) {
          #body #introcont #mecont #mecontactcont {
            padding-left: 50%;
            justify-content: flex-start; } }
        #body #introcont #mecont #mecontactcont li {
          flex: 0.1;
          display: inline-flex;
          padding: 2px;
          font-size: 1.4rem; }
          @media (min-width: 768px) {
            #body #introcont #mecont #mecontactcont li {
              flex: 1;
              justify-content: flex-end;
              align-items: flex-end; } }
          #body #introcont #mecont #mecontactcont li i {
            cursor: pointer; }
    #body #introcont #rotimgdiv {
      display: none; }
    @media (min-width: 768px) {
      #body #introcont #rotimgdiv {
        display: inherit;
        background-color: red;
        max-width: 100vw;
        height: calc(100vh - 24vh);
        display: flex;
        justify-content: center;
        overflow: hidden; }
        #body #introcont #rotimgdiv img {
          background: white;
          flex: 1;
          align-self: center; } }
  #body #technicalcont {
    padding-top: 2.5vh; }
    @media (min-width: 768px) {
      #body #technicalcont {
        /*this is safe trust me maybe***/
        padding-top: 0vh; } }
    #body #technicalcont #skillstopaythebillscont {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 0.33em;
      padding-top: 8vh; }
      #body #technicalcont #skillstopaythebillscont p {
        padding-top: 0.15em !important; }
      @media (min-width: 768px) {
        #body #technicalcont #skillstopaythebillscont {
          flex-direction: row;
          height: 50vh; } }
    #body #technicalcont #picright {
      background-image: url("https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nysky.jpg");
      flex: 1;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      max-height: 30%;
      width: 80%;
      align-self: center;
      padding: 3.5vh 1vw;
      margin: 5vh 0; }
      @media (min-width: 768px) {
        #body #technicalcont #picright {
          align-self: stretch;
          flex: 2;
          max-height: 100%;
          width: 100%; } }
    #body #technicalcont #wordsleft {
      flex: 1; }
      #body #technicalcont #wordsleft p {
        font-size: 1.2em;
        letter-spacing: 0.05em;
        word-spacing: 0.1em; }
        #body #technicalcont #wordsleft p:nth-child(2n) {
          color: #66470e;
          padding: 0 0.05em; }
  #body #showcasecont {
    padding-bottom: 15vh; }
    @media (min-width: 768px) {
      #body #showcasecont {
        margin-top: 8vh; } }
    #body #showcasecont #workcasecont {
      margin-top: 8vh;
      width: 100%; }
      #body #showcasecont #workcasecont .workcase {
        padding: 1em 0;
        font-family: "Montserrat"; }
        #body #showcasecont #workcasecont .workcase .workcaseimg {
          background-color: red;
          flex: 1; }
        #body #showcasecont #workcasecont .workcase .wcheader {
          background: #e9e3d9;
          font-family: "Lato";
          font-size: 1.35em;
          padding: 8vh 0 8vh 0; }
          #body #showcasecont #workcasecont .workcase .wcheader h3 #timeframe {
            padding: 0 0.5em;
            font-size: 1.15rem; }
          #body #showcasecont #workcasecont .workcase .wcheader div {
            font-size: 1.15rem; }
        #body #showcasecont #workcasecont .workcase .wcbody {
          flex: 1; }
          #body #showcasecont #workcasecont .workcase .wcbody ul {
            max-width: 100%;
            display: flex; }
            #body #showcasecont #workcasecont .workcase .wcbody ul li {
              text-decoration: none;
              list-style: none; }
  #body #foot {
    height: 72vh;
    background: #462e2e; }

* {
  padding: 0;
  margin: 0; }

body {
  max-width: 100vw;
  display: flex; }

/*# sourceMappingURL=main.css.map */
