@charset "UTF-8";
@font-face {
  font-family: "Playfair Display";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("https://cdn.jsdelivr.net/gh/xaviif/portfolio/docs/assets/fonts/Lato-Regular.ttf") format("truetype");
}
#introcont {
  overflow: hidden;
  display: flex;
  flex-flow: column-reverse;
  margin-top: 5vh;
}
#introcont #mecont {
  position: relative;
}
#introcont #mecont .headerstyle {
  font-family: "Playfair Display";
  padding: 1px 1em 0 1em !important;
  font-size: 1.5rem;
  background-color: #181110;
  color: rgb(157, 157, 149);
  position: absolute;
  bottom: 0;
  flex: 100%;
  filter: brightness(95%) saturate(524%) blur(0.93px);
}
@media (min-width: 768px) {
  #introcont {
    flex-flow: column;
    margin-top: 0vh;
  }
}

#mecont {
  flex-flow: row;
  padding: 2.5vh 0 0.5vh 0vw;
}
@media (min-width: 768px) {
  #mecont {
    padding: 4.56vh 0 0 0;
    flex-flow: row;
  }
}
#mecont h3 {
  flex: 1;
  font-size: 1.75em;
}
@media (min-width: 768px) {
  #mecont h3 {
    font-size: 1.75rem;
  }
}
#mecont #mecontactcont {
  flex: 0.25;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  #mecont #mecontactcont {
    padding-left: 85%;
  }
}
#mecont #mecontactcont li {
  flex: 1;
  display: inline-flex;
  padding: 2px 0.4em;
  font-size: 2em;
  justify-content: flex-end;
  align-items: flex-end;
}
#mecont #mecontactcont li a {
  color: black;
  transition: 0.44s all;
}
#mecont #mecontactcont li a:visited {
  color: black;
}
#mecont #mecontactcont li i {
  cursor: pointer;
}

#IntroCardCont {
  max-width: 100vw;
  color: white;
  filter: brightness(93%) saturate(90%) blur(0.92px);
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nysky.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: 270vw;
  background-position: 49% 78%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.introTitleCont {
  max-width: 95%;
  max-height: 100%;
  flex: 1;
  margin: auto;
  padding: 25vh 1vw;
}
@media (min-width: 768px) {
  .introTitleCont {
    max-width: 100vw;
    height: 27vh;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    padding: 10vh 1vw;
  }
}
.introTitleCont #ptc_Header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.28em;
  padding: 1px 7px;
  width: 70%;
  height: 70%;
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nysky.jpg);
  background-size: cover;
  background-position: 60% 50%;
}
@media (min-width: 768px) {
  .introTitleCont #ptc_Header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0.52em 8em 0.52em 5px;
    font-size: 1.22em;
    margin: auto;
  }
}

#SmileFaceParallax {
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nysky.jpg);
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: 240vw;
  background-position: 40% 69%;
  filter: brightness(41%) saturate(44%) blur(0.59px);
  flex: 1 0 10%;
  overflow: hidden;
}
@media (min-width: 768px) {
  #SmileFaceParallax {
    flex: 0.5 0 15%;
    display: flex;
    height: auto;
  }
}

#rotimgdiv {
  height: 20vh;
}
#rotimgdiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  #rotimgdiv {
    flex: 100%;
    border-radius: 3px;
    filter: brightness(75%) saturate(54%) blur(0.93px);
    display: flex;
    justify-content: center;
    height: 32vh;
  }
}

.bodywidthlimit {
  max-width: 90%;
  width: 81.5vw;
  padding: 0 9.25vw;
}

.headerstyle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  /**Turn into variable asap*/
  font-size: 1.35em;
  padding-bottom: 0.71em;
  text-transform: uppercase;
}

.subheaderstyle::before {
  content: "|";
}

.titlecont {
  padding: 1em 0 1em 0;
  transition: 0.2s;
  flex: 0 0 100%;
}

.titlecont[stuck] {
  background: white;
}

#body {
  background-color: #fff;
  max-width: 100%;
  width: 100%;
}
#body .parallaxSection {
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#body #introduction {
  position: relative;
}
#body #introduction h2 {
  font-size: 2.3em;
  font-weight: lighter;
  font-family: "Montserrat";
  padding-bottom: 7px;
}
#body #introduction p {
  font-family: "Playfair Display";
  font-size: 1.12em;
  width: 45%;
  margin-top: 2px;
}
#body #introduction p::before {
  content: "  ";
  border-top: 3px solid rgba(88, 79, 79, 0.667);
  border-radius: 3px;
  width: 25%;
  display: block;
  position: absolute;
}
#body #technicalcont {
  padding-top: 1.5vh;
}
@media (min-width: 768px) {
  #body #technicalcont {
    /*this is safe trust me maybe***/
    padding-top: 0vh;
  }
}
#body #technicalcont #skillstopaythebillscont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0.33em;
  padding-top: 4.56vh;
}
#body #technicalcont #skillstopaythebillscont p {
  padding-top: 0.15em !important;
}
@media (min-width: 768px) {
  #body #technicalcont #skillstopaythebillscont {
    flex-direction: row;
    height: 50vh;
  }
}
#body #technicalcont #picright {
  background-image: url("../assets/img/building.jpeg");
  flex: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  max-height: 30%;
  width: 80%;
  align-self: center;
  padding: 5.9vh 1vw;
  margin: 12vh 0;
}
@media (min-width: 768px) {
  #body #technicalcont #picright {
    align-self: stretch;
    flex: 2;
    max-height: 100%;
    width: 100%;
  }
}
#body #technicalcont #wordsleft {
  flex: 1;
}
#body #technicalcont #wordsleft p {
  font-size: 1.3em;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  line-height: 1.25em;
  color: rgb(102, 71, 14);
}
#body #technicalcont #wordsleft p:nth-child(n+4) {
  color: rgb(0, 0, 0);
  padding: 0 1px;
}
#body #showcasecont {
  margin: 4.56vh 0;
}
@media (min-width: 768px) {
  #body #showcasecont {
    margin-top: 4.56vh;
  }
}
#body #showcasecont #workcasecont {
  max-width: 100vw;
}
#body #showcasecont #workcasecont .workcase {
  margin: 0vh 0 0vh 0;
  padding: 0 1em;
  min-width: 35vw;
  flex: 1;
  display: flex;
  flex-flow: column;
}
@media (max-height: 1110px) {
  #body #showcasecont #workcasecont .workcase {
    padding: 2vh 1vw 5vh 1vw;
  }
}
#body #showcasecont #workcasecont .workcase .wkHeaderCont {
  border-bottom: 2.5px solid rgba(209, 207, 207, 0.6);
  width: 90%;
  font-family: "Montserrat";
  flex: 0.45;
  display: inline;
}
#body #showcasecont #workcasecont .workcase .wkHeaderCont span {
  padding-left: 5px;
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-end;
}
#body #showcasecont #workcasecont .workcase .wkHeaderCont span h2 {
  font-size: 2.55em;
}
#body #showcasecont #workcasecont .workcase .wkHeaderCont span h5 {
  font-size: 1.45em;
  color: rgb(105, 87, 87);
}
#body #showcasecont #workcasecont .workcase .wkBodyCont {
  font-family: "Lato";
  flex: 1.5;
  font-size: 1.15em;
  padding-left: 1.5em;
  padding-top: 0.5em;
}
#body #showcasecont #workcasecont .workcase .wkBodyCont ul {
  padding-left: 1.51em;
  list-style: inside;
}
@media (min-width: 1110px) {
  #body #showcasecont #workcasecont {
    display: flex;
    flex-wrap: wrap;
  }
}
#body #projectshowcasecont {
  margin-top: 10vh;
}
#body #projectshowcasecont .projectsCont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#body #projectshowcasecont .projectsCont #DecryptToolCont {
  opacity: 0;
  order: -1;
  height: 2px;
}
@media (min-width: 768px) {
  #body #projectshowcasecont .projectsCont #DecryptToolCont {
    order: initial;
  }
}
#body #projectshowcasecont .projectsCont .titlecont {
  margin-top: 4.56vh;
}
#body #projectshowcasecont .projectsCont .projectCont {
  font-family: monospace;
  flex: 1 0 100%;
  position: relative;
  margin: 2vh 3vw;
  height: 48.88vh;
  display: flex;
  overflow: hidden;
}
@media (max-width: 768px) {
  #body #projectshowcasecont .projectsCont .projectCont:not(#IntroCardCont) {
    max-height: 55vh;
  }
}
@media (min-width: 768px) {
  #body #projectshowcasecont .projectsCont .projectCont {
    flex: 0 0 24%;
  }
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont {
  flex: 1;
  min-width: 50%;
  font-size: larger;
  display: flex;
  flex-direction: column;
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont .projCardImageCont {
  flex: 1;
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont .projCardImageCont .GHImg {
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-attachment: scroll;
  background-size: 15%;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont .projCardImageCont #nameProjectPic {
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/nameWebsite.png);
  background-attachment: scroll;
  background-size: contain;
  background-position: 50% 70vh;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  filter: contrast(120%) grayscale(75%);
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont .projCardImageCont #Velvet {
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/Velvet.png);
  background-attachment: scroll;
  background-size: contain;
  background-position: 50% 70vh;
  background-repeat: repeat;
  width: 150%;
  height: 100%;
  filter: contrast(130%) grayscale(25%);
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont .projCardImageCont img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
#body #projectshowcasecont .projectsCont .projectCont .projTitleCont p {
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  background-color: white;
  z-index: 1;
}
#body #projectshowcasecont .projectsCont .projectCont .proPicCont {
  flex: 1;
  height: inherit;
}
#body #projectshowcasecont .projectsCont .projectCont #ElmFoodParallax {
  background-image: url(https://raw.githubusercontent.com/xaviif/portfolio/main/docs/assets/img/elmfoodSite.png);
  background-attachment: scroll;
  background-size: 150%;
  background-repeat: no-repeat;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 65%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc h4 {
  text-decoration: underline;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc p::first-letter {
  content: " ";
  border-top: 1px solid rgb(41, 39, 39);
  font-size: 1.15em;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc p {
  background-color: transparent;
  padding-left: 2px;
  max-width: 90%;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc.visible {
  opacity: 1;
  transition: all 200ms ease-out;
  padding: 24px 16px;
  color: black;
}
#body #projectshowcasecont .projectsCont .projectCont .projDesc.invisible {
  opacity: 0;
  padding: 20px 0px;
  transition: all 560ms ease-in;
  color: white !important;
}
#body #foot {
  background-color: rgba(248, 246, 246, 0.655);
  border-top: 1px solid rgba(209, 207, 207, 0.745);
  font-family: "Montserrat";
}
#body #foot #bodyContactmeCont {
  display: flex;
  padding: 10vh 2vw;
}
#body #foot #bodyContactmeCont h5 {
  font-size: 1.13rem;
}
#body #foot #bodyContactmeCont #socialsCont {
  flex: 1;
  max-width: 100%;
}
#body #foot #bodyContactmeCont #socialsCont ul {
  max-width: 95%;
  display: flex;
}
#body #foot #bodyContactmeCont #socialsCont ul li {
  flex: 1 0 25%;
  text-align: center;
  list-style-type: none;
}
#body #foot #bodyContactmeCont #socialsCont #secondLvl li {
  text-align: left;
  padding-right: 10%;
}
#body #foot #bodyContactmeCont #socialsCont #secondLvl li:first-child {
  text-align: right;
  padding-left: 10%;
}
#body #foot #bodyContactmeCont #emailSubmitCont {
  flex: 1;
  border-left: 1px solid rgb(212, 211, 211);
  text-align: left;
  display: flex;
  justify-content: center;
}
#body #foot #footerEndNoteCont {
  border-top: 1px solid rgb(212, 211, 211);
  width: 99%;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#navbar {
  padding: 0 9.25vw;
}

#nav {
  background-color: #4d2a26;
  width: 81.5vw;
  display: flex;
  justify-content: center;
  list-style: none;
  filter: brightness(81%) saturate(44%);
}
#nav * {
  transition: all 0.3s;
}
#nav li {
  font-family: "Playfair Display";
  vertical-align: text-top;
  padding: 2px 0 14px 0;
}
#nav li a {
  padding: 9px 1.2em;
  font-size: 1.1em;
  color: #F0F0F2;
  filter: blur(0.1px);
}

.backToTop {
  opacity: 0;
  text-decoration: none;
  background-color: #512c28;
  color: #F0F0F2;
  position: fixed;
  font-size: 2.5em;
  right: 10vh;
  bottom: 2vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/*# sourceMappingURL=main.css.map */
